main{
    font-size: larger;
}
main>div{
    margin: 2rem 0 2rem 0;

    display: flex;
    justify-content: space-evenly;
}
main hr{
    height: 0;
    border: 4px dashed red;
    opacity: 0.6;
}

/* First div */
main>:nth-child(1)>:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
main>:nth-child(1)>:nth-child(2){
    width: 70%;
    margin-left: 2rem;
}
main>:nth-child(1)>:nth-child(2) h1{
    text-align: center;
}


/* Second div */
main>:nth-child(3) div{
    width: 50%;
    margin: 1rem;
}
main>:nth-child(3) h3{
    width: 90%;
    margin: auto;
    margin-bottom: 1.5vh;
    padding: 0.2rem 0 0.2rem 0;
    text-align: center;
    border: 1px solid var(--box-border-color);
    font-weight: 900;
}

/* Third div */
main>:nth-child(4){
    border: 1px solid var(--box-border-color);
    box-shadow: var(--box-border-shadow-direction) var(--box-shadow-color);
    margin: 1rem 0 1rem 0;
    padding: 0.7rem 1.5rem;
}

/* Fourth div */
main>:nth-child(5)>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main>:nth-child(5)>div div{
    width: 10vw;
    height: 10vw;
    margin: 1rem;
}